<script src="https://npmcdn.com/vue/dist/vue.js"></script>
<link rel="stylesheet" type="text/css" href="styles.css" />

<div id="exercise">
  <!-- 1) Start the Effect with the Button. The Effect should alternate the "highlight" or "shrink" class on each new setInterval tick (attach respective class to the div with id "effect" below) -->
  <div>
    <button @click="startEffect">Start Effect</button>
    <div id="effect" :class="effectClass"></div>
  </div>

  <hr class="hr">

  <!-- 2) Create a couple of CSS classes and attach them via the array syntax -->
  <div :class="[textBoxClass, coloredTextBoxClassObj]">I got class :)</div>

  <hr class="hr">

  <!-- 3) Let the user enter a class (create some example classes) and attach it -->
  <div>    
    <div class="spacedElement" :class="inputClass">Please type a class below. Options: [orange, blue, black]</div>
    <label>Type a class: </label>
    <input type="text" v-model="inputClass">
  </div>

  <hr class="hr">

  <!-- 4) Let the user enter a class and enter true/ false for another class (create some example classes) and attach the classes -->
  <div>
    <div class="spacedElement" :class="anotherComputedClassObj">Type a class and a boolean below. Classes: [orange, blue, black]</div>
    <p><label>Class: </label> <input type="text" v-model="anotherInputClass"></p>
    <p><label>Active: </label> <input type="text" v-model="attachAnotherClass"></p>
    
  </div>

  <hr class="hr">

  <!-- 5) Repeat 3) but now with values for styles (instead of class names). Attach the respective styles.  -->
  <div>    
    <div class="spacedElement" style="border-style: solid" :style="stylesObj">Please type the styles below</div>
    <label>Border-color:</label><input type="text" v-model="borderColor">
    <label>Border-width:</label><input type="text" v-model="borderWidth">
    <label>Width:</label><input type="text" v-model="width">
  </div>

  <hr class="hr">

  <!-- 6) Create a simple progress bar with setInterval and style bindings. Start it by hitting the below button. -->
  <div>
    <button @click="startProgress" class="start-progress-button">Start Progress</button>
    <div :style="{width: progressBarWidth + '%'}" class="progress-bar"></div>
  </div>
</div>

<script src="app.js"></script>