#effect {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.highlight {
  background-color: rgb(255, 94, 0);
  width: 200px !important;
}

.shrink {
  background-color: #0e0bcc;
  width: 50px !important;
}

.text-box {
  padding: 5px;  
  width: 157px;
  margin: 5px 0 5px 0;
}

.blue-text-box {
  border: 3px solid #0e0bcc;
  background: rgba(28, 16, 128, 0.48);
}

.orange-text-box {
  border: 3px solid rgb(226, 101, 13);
  background: rgba(212, 94, 11, 0.48);
}

.spacedElement {
  padding: 5px;
  margin: 5px 0 5px 0;
}

.orange {
  border: 3px solid rgb(226, 101, 13);
}

.blue {
  border: 3px solid #0e0bcc;
}

.black {
  border: 3px solid black;
}

.hr {
  margin: 20px 0 20px 0;
}

.progress-bar {
  height: 25px;
  background-color: #198007;
  display: inline-block;
  vertical-align: middle;
}

.start-progress-button {
  display: inline-block;
  height: 25px;
  vertical-align: middle;
}