<!DOCTYPE>
<html>

<head>
    <script src="vue.js"></script>
    <script src="vue-app.js"></script>
</head>

<body>
    <div id="app">
        <!-- "v-if" actually remove the element when the value is false instead of just hiding it -->
        <p v-if="show">1 - <span>Hello!</span> You can see me!</p>
        <p v-else>2 - Now you see me!</p>
        <template v-if="show">
            <p>Hello! I'm inside a template!</p>
        </template>
        <button @click="show = !show">Switch</button>
    </div>
</body>

</html>